<!DOCTYPE html>

<html>
    <head>
        <link rel= "stylesheet" href="/style.css">
    </head>
    <body>
        <header>Gallery</header>
        <div> <%@db.execute('SELECT longUrl FROM photos LIMIT 1;') do |url| %>
                <img src="<%=url[0]%>">
            <%end%>
         </div>
        <div class="photos">  
            
        </div>
        <div class="searches"> search bar</div>
    </body>
</html>
