<!DOCTYPE html>

<html>
    <head>
        <link rel= "stylesheet" href="/style.css">
    </head>
    <body>
        <header>Gallery</header>
        <main>
            <%=yield%> 
        </main>
        <aside></aside>
        <section></section>
    </body>
</html>