<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="">Photo Gallery</a>
            <a href="">Photo</a>
            <a href="">Photographer</a>
        </div>
        <div class="photoGallery"> 
            <%@db.execute('SELECT id, longUrl FROM photos;') do |id, url| %>
                <a href="photo?id=<%=id%>"><img src="<%=url%>"></a>
            <%end%>
         </div>
        
    </body>
</html>
