<!DOCTYPE html>

<html>
    <head>
        <link rel= "stylesheet" href="/style.css">
    </head>
    <body>
        <header>Gallery</header>
        <nav> last 3 searches </nav>
        <div class="photos">  
            <img src="<%@db.execute("SELECT longUrl FROM photos;")%>">
        </div>
        <div class="searches"> search bar</div>
    </body>
</html>
