* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Header {
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: 0.8s cubic-bezier(0.02, 0.8, 0.2, 1);
    max-width: 100vw;
    
}
.HeaderGroup {
    color: white ;
    margin: 0 auto;
    display: grid;
    display: -ms-grid;
    grid-template-columns: repeat(8, auto);
    -ms-grid-template-columns: repeat(8, auto);
    align-items: center;
    justify-items: center;
    
}
.HeaderScrolled {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background: rgba(8, 9, 11, 0.8) ;
    color: white !important;
}
.HeaderGroup h1 {
    margin: 1.5vh 0;
    color: inherit;
    font-size: 2.5vw;
    text-decoration: none;
}
.Header a, .link {
    color: inherit;
    font-size: 2vw;
    font-weight: 600;
    filter: none;
    text-decoration: none;
}
.Photographer {
    grid-column-start: 8;
    -ms-grid-column-start: 8;
}
.Photos {
    grid-column-start: 7;
    -ms-grid-column-start: 7;
    
}
img {
    max-width: 100%;
    margin: 0 auto;
}

.photoGallery {
    padding-top: 8vw;
    width: 85vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    margin: 0 auto;
}
.welcome {
    padding-top: 10vh;
}
