body {
    display: grid;
    background-color: gray;
    height: 100vh;
    grid-row-gap: 30px;
    grid-template-areas: 
    'header header header'
    'nav nav searches'
    'photos photos photos'
}

header { 
    color: black;
    font: helvetica;

}
