body {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'header header header header'
    'nav nav nav searches'
    'photos photos photos photos'
}

header { 
    background: 10%;
    color: black;
    font: helvetica;

}
